* {
  margin: 0;
  padding: 0;
}

.button {
  height: 50px;
  width: 50px;
  font-size: 25px;
  margin: 1px;
  cursor: pointer;
}

.textview {
  padding: 10px;
  font-size: 20px;
  width: 185px;
  margin: 5px;
  font-size: medium;
}
